.loaderContainer {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.loaderBackground {
  position: absolute;
  inset: 0;
  background-color: var(--color-neutral);
  z-index: -1;
}

.logoWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 173px;
  height: 173px;
  object-fit: contain;
}
